<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for contacting Rob&#39;s Records.  We will respond to your message as soon as possible.</p>
    <%= image_tag("record_player.jpg") %>
  </div>
</div> <!-- end panel -->