<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your purchase.  To view the records currently in stock, please click the link below.</p>
    <%= link_to "Shop now", products_path %>
  </div>
</div> 