<div id="all-products">
  <p id="notice"><%= notice %></p>

  <h1 class="all-products-header">Currently in stock</h1>

  <div class="row">
    <div class="col-md-2"><strong>Name</strong></div>
    <div class="col-md-4"><strong>Description</strong></div>
    <div class="col-md-2"><strong>Image URL</strong></div>
    <div class="col-md-1"><strong>Colour</strong></div>
    <div class="col-md-1"><strong>Price</strong></div>
    <div class="col-md-2">&nbsp;</div>
  </div>

  <%= render @products %>

  <br>

  <%= link_to 'New Product', new_product_path %>
</div>
